body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.form-card {
    background: #fca8b6;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #fc2867;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #e0245a;
}

.img-container {
    position: fixed; 
    bottom: 20px;   
    right: 20px;    
    z-index: 100;    
    pointer-events: none; 
}

.img-container img {
    height: 200px;   
    width: auto;
    
}

.container {
    margin-right: 50px; 
}

.notes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.note {
    background: #82f5e2; 
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.note.important {
    background: #4893f5;
    color: rgb(0, 0, 0);
}

.note h3 { margin-top: 0; }

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.actions span {
    cursor: pointer;
    font-size: 1.2rem;
}