.list-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #170f2a;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.empty-state {
  height: 350px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.empty-icon {
  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #ec4899
  );

  color: white;

  font-size: 2rem;

  margin-bottom: 20px;
}

.empty-state h3 {
  color: #0f172a;
  margin-bottom: 10px;
}

.empty-state p {
  color: #64748b;
}