.container-dashboard {
  max-width: 1300px;

  margin: auto;

  padding: 40px;

  display: grid;

  grid-template-columns: 2fr 1fr;

  gap: 24px;
}

.columna-izquierda,
.columna-right {
  background: rgba(255,255,255,.9);

  backdrop-filter: blur(10px);

  border-radius: 24px;

  padding: 24px;

  border: 1px solid #e2e8f0;

  box-shadow:
    0 10px 30px rgba(15,23,42,.05);
}

.page-title{
  font-size: 1.8rem;
  font-weight: 700;
  color: #170f2a;
  margin-left: 30px;

}