*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}
@media (min-width: 500px) and (min-height: 600px){
    body{
        background-color:blueviolet;
    }
}
