body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2DCE2;
}

.navbar {
    background-color: #F26D85;
    color: white;
    padding: 15px 0;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container {
    background-color: #F26D85;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarjetas-seccion h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}

.tarjetas-contenedor {
    display: flex;
    gap: 20px; 
}

.tarjeta {
    flex: 1; 
    background-color: #a8fa91; 
    color: #333;
    padding: 50px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #4cfa07;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}