.page-container {
  max-width: 1400px;
  margin: auto;
  padding: 30px;
}

.page-title {
  text-align: center;

  font-size: 3rem;

  font-weight: 800;

  margin-bottom: 30px;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #ec4899
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}